@model List<Model.EF.Product>

<div class="subscribe">
    <h2 style="font-size:21px">Sản phẩm tương tự</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="padding:3px 5px">
            <img src="~/Assets/Common/images/products/@item.Image" style="width:100%; height:90px" />
        </div>
        <div class="col-md-9" style="padding:0">
            <p style="font-size:13px; font-weight:bold">@item.Name</p>
            @if (item.PromotionPrice.HasValue)
            {
                <p class="red-text">@item.PromotionPrice.Value.ToString("N0")<sup>đ</sup></p>
                <p style="font-size:12px"><del>@item.Price.ToString("N0")</del><sup>đ</sup></p>
            }
            else
            {
                <p class="red-text">@item.Price.ToString("N0")<sup>đ</sup></p>
                <div class="clear"></div>
            }
            <div class="clear"></div>
            <a href="/dien-thoai/@item.MetaTitle-@item.Id" style="font-size:13px">Xem chi tiết</a>
        </div>
            <div class="clear"><hr /></div>
    }

</div>