@model List<Model.EF.Menu>
<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@item.Link" target="@item.Target">@item.Text.ToUpper()</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
<div class="search_box">
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        @Html.TextBox("s", ViewBag.CurrentFilter as string, new {@placeholder="Nhập từ khóa...", @id="txtKeyword", @required="required" })
        <input type="submit" value="">
    }
</div>
<div class="clear"></div>